
.link-header{
    display: flex;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: black;
    letter-spacing: 5px;
    margin-top: 5px;
    padding-top: 20px;
    text-decoration: none;
    
}

.link-header:hover{
    text-shadow: blue -2px 0,
                purple 2px 0;

    text-shadow: black;
}

// footer div {
//     display: flex;
//     position: relative;
//     background-color: #427492;
//     align-items: center;
//     justify-content: space-around;
//     // margin-top: 200%;
//     padding: 70px;
//     height: 20%;
//     position: relative;
// }

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

footer{
    display: flex;
    // position: absolute; 
    width: 100%;
    // position: absolute;
    // margin-top: 200%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #427492;
    justify-content: space-around;
    align-items: center;
}


footer div a{
    color: whitesmoke;
    font-size: 80px;
    text-decoration: none;
}
