// <a href="https://github.com/lavparker/EatingEasy" target="_blank" className="fab fa-github"></a>
// <a href="www.linkedin.com/in/laviniaparker" target="_blank" className="fab fa-linkedin"></a>
// <a href="https://instagram.com/vinia.tech?igshid=YmMyMTA2M2Y=" target="_blank" className="fab fa-instagram"></a>

.angellist:hover{
    animation: shake 2s;
    color: #000000;
    // border-bottom-left-radius:100%;
    // border-bottom-right-radius: -100%;
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;
}

.github:hover{
    animation: shake 2s;
    color: black;
    // border-bottom-left-radius:100%;
    // border-bottom-right-radius: -100%;
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;

}

.linkedin:hover{
    animation: shake 2s;
    color: #0072b1;
    // border-bottom-left-radius:100%;
    // border-bottom-right-radius: -100%;
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;

}


.instagram:hover {
    animation: shake 2s;
    color: rgb(157, 60, 60);
}

.email:hover{
    animation: shake 2s;
    color: antiquewhite;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a{
    margin: 30px 20px;
}

.socials p{
    margin: 0 20px;
}

.connect-footer{
    color: whitesmoke;
    margin-top: 4px;
    font-size: 24px;
    font-weight: 700;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.pic-of-me{
    cursor: pointer;
    max-height: 10rem;
    border-radius: 50%
    
}
// .instagram:hover {
//     background-clip: content-box;
//     background-image: linear-gradient(to bottom right, purple, red, orange, yellow);
//     -webkit-background-clip: content-box;
//     -webkit-text-fill-color: transparent;
// }

@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }


}