// <a href="https://github.com/lavparker/EatingEasy" target="_blank" className="fab fa-github"></a>
// <a href="www.linkedin.com/in/laviniaparker" target="_blank" className="fab fa-linkedin"></a>
// <a href="https://instagram.com/vinia.tech?igshid=YmMyMTA2M2Y=" target="_blank" className="fab fa-instagram"></a>

.angellist:hover{
    animation: shake 2s;
    color: #000000;
    // border-bottom-left-radius:100%;
    // border-bottom-right-radius: -100%;
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;
}

.github:hover{
    animation: shake 2s;
    color: black;
    // border-bottom-left-radius:100%;
    // border-bottom-right-radius: -100%;
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;

}

.linkedin:hover{
    animation: shake 2s;
    color: #0072b1;
    // border-bottom-left-radius:100%;
    // border-bottom-right-radius: -100%;
    // border-top-left-radius: 100%;
    // border-top-right-radius: 100%;

}

// .instagram:hover{
//     animation: shake 2s;
//     background-image: linear-gradient(to bottom right, purple, red, orange, yellow);
 
// }

// .instagram{
//     background-size: cover;
//     display: inline-block;
// }

.instagram:hover {
    animation: shake 2s;
    background-image: linear-gradient(to bottom right, purple, red, orange, yellow);
//     background-size: cover;
//     // display: inline-block;
    height: 69.04px;
    width: 69px;
//     border-top: 10%;
    border-top-left-radius: 55%;
    border-bottom-left-radius:55%;
//     border-bottom-right-radius: -40%;
    border-top-right-radius: 50%;
}

// .instagram:hover {
//     background-clip: content-box;
//     background-image: linear-gradient(to bottom right, purple, red, orange, yellow);
//     -webkit-background-clip: content-box;
//     -webkit-text-fill-color: transparent;
// }

@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }


}