// .link-header{
//     display: flex;
//     color: black;
//     justify-content: flex-start;
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: 900;
// }

.main-page{
    background-color: whitesmoke;
}
.main{
    // background-color: black;
    background-image: image-url('rhrooftop.jpg');
    display: flex;
    background-size: cover;
    background-position: center;
    // margin-top: -5%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    // margin-top: 200px;
    // margin-left: 500px;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    font-size: 48px;

}

.main-header{
    font-size: 100%;
    font-weight: bold;  
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.local-restaurants{
    display:flex;
    flex-wrap: wrap;

}

.res-index-container{
    // background-color: aqua;
    // display: flex;
    display: flex;
    // flex-wrap: wrap;
    // position:static;
    // justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 30px;
    // width: 100%;
    margin-top:55%;
    margin-bottom: -40%;
    margin-left: -40%;
    max-width: 100%;

}

.restaurants-index{
    // display: flex;
    // background-color:burlywood;

    // background-color:magenta;
    justify-content: space-around;
}

.restaurant-index-item {

    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 16rem));
    gap: 2rem;
    justify-content: center;
    box-shadow:0 2px 20px ;
    // margin: 5px 5px 5px 5px;
    margin: 1rem;
    padding: 0px;
    font-size: 20px;
    flex-direction: row;
    border-color: black;
    // border-style: double;
    border-width: 20px;
    border-radius: 20px;
    cursor:pointer;
    

    
}

.restaurant-index-item:hover{
    transform: scale(1.07);
}

.res-photo-row-1{
    height: 5rem;
    width: 100%;
    object-fit: cover;
}

.res-name-row-2{
    padding: 10px;
}

.res-item-body{
    margin: 2rem;
}

.reserve-btn{
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 1rem;
    border: 3px;
    border-style: solid;
    border-color: aqua;
}

.reserve-btn:hover{
    background-color: adjust-hue($color: blue, $degrees: 80);
}

.find-your-table{
    // display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    // margin-left: 5%;
    // margin-right: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 48px;
    
}