// .link-header{
//     display: flex;
//     color: black;
//     justify-content: flex-start;
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: 900;
// }

// .main-page{

//     // background-color: whitesmoke;
//     // height:100%;
//     // width: 100%;
//     // background-size: 105%;

// }

.main{
    // background-color: black;
    background-image: image-url('rhrooftop.jpg');
    box-shadow: 0px 0px 4px 4px #7c7a7a;
    display: grid;
    background-size: cover;
    background-position: center;
    // margin-top: -5%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    // margin-top: 200px;
    // margin-left: 500px;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    font-size: 48px;
    padding-bottom: 50px;
    // position: fixed;

}

.main-header{
    font-size: 100%;
    font-weight: bold;  
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.local-restaurants{
    display:grid;
    // margin-top: 20%;
    font-weight: 500;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;  
    // overflow-wrap:normal;

}

.res-index-container{
    display: block;
    justify-content: space-around;
    font-size: 30px;
}

.restaurants-index{
    margin-top: 5%;
    justify-content: space-around;

}

.restaurants-index h2{
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    border-top: 1px solid rgba(14, 12, 62, 0.3);
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    // margin-left: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.restaurant-index-item {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 16rem));
    gap: 2rem;
    justify-content: center;
    box-shadow:0 1px 10px ;
    // margin: 5px 5px 5px 5px;
    margin: 1rem;
    padding: 0px;
    font-size: 16px;
    flex-direction: row;
    border-color: gray;
    color:black; 
    border-width: 5px;
    border-radius: 5px;
    cursor:pointer;
    

    
}

.find-your-table{
    // padding-right: 100px;
    // backdrop-filter: blur(5px) saturate(40%);
    text-shadow: 2px 2px #0f4e63;
    // margin: 0% 0% 0% 20%; 
    // overflow-wrap: none;
    // background-color: aqua;
    width: 95%;
    white-space: nowrap;

}

.search-bar{
    margin-top: 3.5%;
    display:block;
    // margin-left: 30%;
    // margin-right: 25%;
    // height: 2.5rem; 
    // width: 40%; 
    // border-radius: 4px; 
    justify-content: space-between;
}

.search-form{
    margin-left: 25%;
    margin-right: 1%;
    height: 3rem; 
    width: 40%; 
    border-radius: 4px; 
    font-weight: 700;

}

.search-button{
    background-color: #247f9e;
    color: antiquewhite;
    font-weight: 700;
    margin-left: 10;
    margin-right: 20;
    height: 3rem; 
    width: 10%; 
    border-radius: 4px;  
}
.restaurant-index-item:hover{
    transform: scale(1.05);
    transition: .8s;
    cursor: pointer;
}

.res-index-img{
    width:140%; 
    height: 141%; 
    margin-top: -32px;
    margin-left: -32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

// .res-index-img:hover{
//     zoom: scale(108);
//     transition: .2s; 
    
// }

.res-photo-row-1{
    height: 5rem;
    width: 101%;
    object-fit: cover;
    
}

.res-name-row-2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    align-items: center;
    font-weight: 900;
    letter-spacing: 1.5px;

}

.res-address-row-3{
    padding-top: 10px;
    font-size: 12px;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow: hidden;
    white-space: nowrap;
}

.res-item-body{
    margin: 2rem;
    text-decoration: none;
    align-items: center;
}

.reserve-btn{
    padding: 10px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 1rem;
    color: antiquewhite;
    border: 3px;
    border-style: solid;
    background-color: #247f9e;
    border-color: #247f9e;
    border-radius: 5px;
}

.reserve-btn:hover{
    background-color: #0f4e63;
    border-color: #0f4e63;
    // border-radius: 5px;
}

.num-res{
    font-size: .750rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.res-stars {
    color: gray;
    font-size: 10px;
}

.chart-line{
    // size: 8px;
    color: black;
    height: 12px;
    width: 12px;
}
.main-header{
    // display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8rem;
    // margin-left: 5%;
    // margin-right: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 48px;
    
}