// .logo{

// }
.session-buttons{
    display: flex;
    justify-content: space-between;
    
 
}
.signin-btn {
    background-color: #247f9e;
    height: 40px;
    width: 90px;
    
    cursor: pointer;
}

.signup-btn{
    background-color: #247f9e;
    height: 40px;
    width: 90px;
    cursor: pointer;
}

.logout-btn{
    background-color: #247f9e;
    height: 40px;
    width: 90px;
    cursor: pointer;
}
