.reservation-container {

    display: flex;
    // position: -webkit-sticky;
    // position: absolute; 
    position: sticky; 
    flex-direction: column;
    align-items: flex-end;
    // border-top: 3rem;
    margin-top: -500px;
    margin-right: 100px; 
    // align-items: center;
    height: 85%;
    width: 85%; 
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
    
    // z-index: 9999; 

}

.reservation-main {
    // display: block;
    // margin-top: -740px;
    // background-color: aquamarine;

    background-color: whitesmoke;
    // align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px #2d333f33;
    // height: 100%; 
    line-height: 1.15;
    // margin-left: -350px;
    z-index: 9999;

}

.reservation-main h3 {
    padding-top: 1rem;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    line-height: 1.15;
    margin-bottom: 16px;
    // padding-top: 0.4rem;
    padding-bottom: 1rem;
    padding-left: 6.5rem;
    font-weight: bold;
    color: grayscale($color: #2d2b2b);

}

.reservation-update-main {
    // display: block;
    // display: grid;
    // display: flex; 
    // margin-top: 75%;
    // background-color: aquamarine;
    background-color: whitesmoke;
    // align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px #2d333f33;
    // height: 100%; 
    line-height: 1.15;
    // margin-left: -350px;
    z-index: 9999;
    max-width: 90%;

}

.reservation-update-main h3 {
    padding-top: 1rem;
    align-self: center;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    line-height: 1.15;
    margin-bottom: 16px;
    // padding-top: 0.4rem;
    padding-bottom: 1rem;
    padding-left: 6.5rem;
    font-weight: bold;
    color: grayscale($color: #2d2b2b);

}

.close-res-update {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.close-res-update:hover{
    color: #0f4e63;
}

.party-size {
    // padding-top: 2rem;
    margin-top: 10%;
    font-family: inherit;
    font-weight: 500;
    margin-left: 16px;
    font-size: 14px;
    line-height: 1.15px;
}

.party {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    margin-top: 1rem;
    margin-left: 16px;
    margin-right: 16px;
    width: 90%;
    height: 2rem;
    background-color: inherit;
    font-weight: 100;
    cursor: pointer;
}

.res-date {
    // padding-top: 2rem;
    // margin-top: 3rem;
    font-family: inherit;
    font-weight: 500;
    margin-left: 16px;
    font-size: 14px;
    line-height: 1.15px;
}

.date {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    margin-top: 1rem;
    margin-left: 16px;
    margin-right: 16px;
    width: 90%;
    height: 2rem;
    background-color: inherit;
    font-weight: 100;
    cursor: pointer;
}

.res-time {
    display: flex;
    // padding-top: 2rem;
    // margin-top: 3rem;
    font-family: inherit;
    margin-top: 1rem;
    font-weight: 500;
    margin-left: 16px;
    font-size: 14px;
    line-height: 1.15px;
}

.times {
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    margin-top: 1rem;
    margin-left: 16px;
    margin-right: 16px;
    width: 90%;
    height: 2rem;
    background-color: inherit;
    font-weight: 100;
    cursor: pointer;
}

.res-button {

    padding: 10px;
    // margin-top: 25px;
    margin-left: 11%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 1rem;
    color: antiquewhite;
    border: 3px;
    border-style: solid;
    background-color: #247f9e;
    border-color: #247f9e;
    border-radius: 5px;
    width: 80%;
    max-width: 80%;
    cursor: pointer; 

}

.res-button:hover {
    background-color: #0f4e63;
    border-color: #0f4e63;
    // border-radius: 5px;
}

.res-confirmed {
    margin-left: 20%;
    margin-right: 15%;
    font-size: 16px;
    font-weight: 700;
}

.res-conf-icon {
    color: green;
}

.modify-btn {
    background-color: whitesmoke;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #247f9e;
}

.cancel-btn {
    background-color: whitesmoke;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #247f9e;
}

.modify-cancel {
    margin-left: 30%;
    margin-right: 15%;
    font-size: 16px;
    font-weight: 700;
    color: burlywood;
    background: none;
}

.modify-btn:hover {
    color: black;
}

.cancel-btn:hover {
    color: black;
}


.reservation-main p {
    display: flex;
    padding-bottom: 3rem;
    margin-left: 25%;
    font-family: inherit;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;

}