.restaurant-show-page {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // flex-direction: column;
    // position: relative;
    // width: 85%;

}

.show-page-res-img {
    object-fit: cover;
    width: 111%;
    height: 300px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1rem;
    z-index: 5000;
    background-color: #247f9e;
}

.show-page-fave-btn {
    // display: flex;
    // justify-content: flex-end;
    position: absolute;
    padding: 1rem;
    // background-color: #247f9e;
    // color: antiquewhite;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 235px;
    margin-left: 70%;
    // box-sizing: border-box;
    // margin-right: 100%;
    margin-top: -18%;
    // z-index: -2000;
    cursor: pointer;
}
.not-favorited {
    // display: flex;
    // justify-content: flex-end;
    position: absolute;
    padding: 1rem;
    background-color: #247f9e;
    color: antiquewhite;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 16px;
    width: 235px;
    margin-top: 50%;
    // margin-left: 70%;
    box-sizing: border-box;
    // margin-right: 100%;
    // margin-top: -18%;
    // z-index: -2000;
    cursor: pointer;
}
.favorited {
    // display: flex;
    // justify-content: flex-end;
    position: absolute;
    padding: 1rem;
    background-color: #247f9e;
    color: antiquewhite;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 16px;
    width: 235px;
    margin-top: 50%;
    // margin-left: 70%;
    box-sizing: border-box;
    // margin-right: 100%;
    // margin-top: -18%;
    // z-index: -2000;
    cursor: pointer;
}

.favorited-heart{
    color: red;
    font-size: 1.5rem;
    // margin-left: 70%;
    // margin-top: -18%;
    // z-index: -2000;
    cursor: pointer;
}

.not-favorited-heart{
    color: antiquewhite;
    font-size: 1.5rem;
    // margin-left: 70%;
    // margin-top: -18%;
    // z-index: -2000;
    cursor: pointer;
}

.not-favorited:hover {
    border-color:antiquewhite;
    
}

.favorited:hover {
    border-color: antiquewhite;
}

.show-page-res-info-bar {
    border-bottom: 1px solid rgba(142, 23, 23, 0.3);


}

.res-overview-btn {
    background-color: whitesmoke;
    text-decoration: none;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.res-overview-btn:hover {
    color: #247f9e;
    // text-decoration: underline;
}

.res-reviews-btn {
    // background-color: whitesmoke;
    // color: black;
    // border-style: none;
    // cursor: pointer;
    // font-size: 18px;
    // font-weight: 700;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
    Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    // border-style: none; 
    color:black;
    text-decoration: none;
    font-size: 18px;
    border-style: none; 
    font-weight: 700;
    background-color: whitesmoke;
    outline: none;

}

.res-reviews-btn:hover {
    // color: #247f9e;
    color: #247f9e;
    // color:black;
    // font-weight: 300;
    // text-decoration: underline;

}


#reviews {
    background-color: whitesmoke;
    color: black;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;

}

#reviews:hover {
    color: #247f9e;

    // text-decoration: underline;

}

// .line-break{
//     font-size: 18px;
//     font-weight: 700;
// }

.show-page-gen-res {
    // display: inline-block;
    // background-color: aquamarine;
    float: left; 
    margin-top: -90%; 
    box-shadow: 0 2px 4px #2d333f33;
    background-color: whitesmoke;
    list-style: none;
    padding: 2rem;
    // line-height: 1.15;
    // font-family:BrandonText,
    //     -apple-system,
    //     BlinkMacSystemFont,
    //     Segoe UI,
    //     Roboto,
    //     Helvetica,
    //     Arial,
    //     sans-serif,
    //     Apple Color Emoji,
    //     Segoe UI Emoji,
    //     Segoe UI Symbol;
    justify-content: center;
    // box-shadow: 0 2px 20px;
    // margin-top: -3.5rem;
    margin-left: 10%;
    margin-bottom: 3rem;;
    // margin-right: 40%;
    width: 85%;
    // margin: 1rem; 
    border-radius: 4px;
    // flex-direction: row;
    // border-color: black;
    z-index: 100;

}

.res-show-head{
    height: 40px; 
}

// .res-form {
    // display: grid;
    // grid-template-rows: auto;
    // grid-template-columns: 1fr 1fr;
    // display: flex;
    // margin-top: -315%;
    // max-width: 80%; 
    // margin-left: 85%;
    // justify-content: center;

    // margin-bottom: 30rem;


// }

.show-page-res-name {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    line-height: 1.15;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.res-over {
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
}

.show-page-res-reviews{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    margin-top: 1rem;
}

.res-review {
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
}

.res-stars {
    color: gray;
    font-size: 24px;
}

.res-cuisine {
    padding-top: 1rem;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.15;
    font-size: 18px;
    font-weight: 200;
}

.res-details {
    font-weight: 200;
    overflow-wrap: normal;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;
    line-height: 1.15;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}

.res-add-icon {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-add-word {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.15;
    font-size: 18px;
    font-weight: 200;
}

.res-phone {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-addfea {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-hours {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-dress {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-web-icon {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-web-link {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.res-web-link:hover {
    color: #247f9e;
    font-weight: 300;
}


.res-dinsty {
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.review-item-container{
    // justify-content: space-around;
    // display: grid;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    // border-color:red;
    // border-radius: 4px;
    // grid-row-gap: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 16rem));
    gap: 2rem;
    // justify-content: center;
    // box-shadow: 0 1px 1px;
    // margin: 5px 5px 5px 5px;
        margin-top: 2rem;
        // padding: 7px;
        font-size: 16px;
        flex-direction: row;
        // border-color: gray;
        width: 100%;
        height: auto;
        color: black;
        // border-bottom: gray;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
        // border-style: solid;
        // border-width: 2px;
        // border-radius: 2px;
        cursor: pointer;
}

.reviews-index{
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    width: 100%; 
    height: 20%; 
    // font-weight: bold;
    // font-size: large;
    // margin-bottom: 1rem;
}

.delete-rev{
    margin: 0%; 
     background-color: #247f9e;
    // color: bisque;
    color: whitesmoke;
    font-weight: 700;
    height: 40px;
    width: 90px;
    // margin-bottom: ;
    // margin-left: 50%;
    // margin: 25%;
    align-items: center;
    border-radius: 4px;
}

.modify-rev{
    background-color: #247f9e;
    // color: bisque;
    color: whitesmoke;
    font-weight: 100;
    height: 40px;
    width: 60px;
    // margin-bottom: ;
    // margin-left: 50%;
    margin: 4%;
    align-items: center;
    border-radius: 4px;
    font: 10px;
    // font-weight: bold;
    cursor: pointer;
}

.modify-rev:hover {
    background-color: #0f4e63;
}

.review-firstname{
    color: antiquewhite; 
    background-color: #247f9e;
    font-weight: 200;
    height: 60px; 
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 2em;
    float: left;
    

}