.restaurant-show-page{
    display:grid;
    flex-direction: row;
    // position: relative;
    width: 90%;

}

.show-page-res-img{
    object-fit: cover;
    width: 111%;
    height: 300px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1rem;
    z-index: 5000;
}

.show-page-fave-btn{
    // display: flex;
    // justify-content: flex-end;
    position: absolute;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    width: 235px; 
    margin-left: 78%;
    box-sizing: border-box;
    // margin-right: 100%;
    margin-top: -20%;
    // z-index: -2000;
    cursor: pointer;
}

.show-page-fave-btn:hover{
    border-color: aquamarine;
}

// .show-page-gen-res{
//     padding: 0px;
// }

.show-page-res-info-bar{
    border-bottom: 1px solid rgba(142, 23, 23, 0.3);

  
}

.res-overview-btn{
    background-color: whitesmoke;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.res-overview-btn:hover{
    color: #247f9e;
    // text-decoration: underline;
}

.res-reviews-btn{
    background-color: whitesmoke;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.res-reviews-btn:hover {
    color: #247f9e;
    
    // text-decoration: underline;
    
}

// .line-break{
//     font-size: 18px;
//     font-weight: 700;
// }

.show-page-gen-res{
    // display: inline-block;
    // background-color: aquamarine;
    background-color: whitesmoke;
    list-style: none;
    padding: 2rem;
    // line-height: 1.15;
    // font-family:BrandonText,
    //     -apple-system,
    //     BlinkMacSystemFont,
    //     Segoe UI,
    //     Roboto,
    //     Helvetica,
    //     Arial,
    //     sans-serif,
    //     Apple Color Emoji,
    //     Segoe UI Emoji,
    //     Segoe UI Symbol;
    justify-content: center;
    // box-shadow: 0 2px 20px;
    margin-top: -3.5rem;
    margin-left: 10%;
    margin-right: 40%;
    width: 50%;
    // margin: 1rem; 
    border-radius: 4px;
    flex-direction: row;
    // border-color: black;
    z-index: 100;

}

.res-form{
    display: grid;
    grid-template-rows: auto;
    justify-content:flex-end;
    margin-bottom: 30rem;

    
}

.show-page-res-name{
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    line-height: 1.15;
    font-family:BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Hetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.res-over{
    border-bottom: 1px solid rgba(14, 12, 62, 0.3);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
}

.res-stars{
    color: gray;
    font-size: 24px;
}
.res-cuisine{
    padding-top: 1rem;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.15;
    font-size: 18px;
    font-weight: 200;
}

.res-details{
    font-weight:200;
    overflow-wrap:normal;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;
    line-height: 1.15;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}

.res-add-icon{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-add-word{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.15;
    font-size: 18px;
    font-weight: 200;
}

.res-phone{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-addfea{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-hours{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-dress{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-web-icon{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

.res-web-link{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.res-web-link:hover{
    color: #247f9e; 
    font-weight: 300;
}

.res-dinsty{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}
