.submit-review-btn{
    background-color: #247f9e;
    color: antiquewhite;
    height: 40px;
    width: 90px;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

