.submit-review-btn{
    background-color: #247f9e;
    color: antiquewhite;
    height: 40px;
    width: 90px;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.review-details{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}

