.submit-review-btn{
    background-color: #247f9e;
    color: antiquewhite;
    height: 40px;
    width: 90px;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}


// .review-details{
//     display: grid;
//     // grid-template-columns: repeat(2, 1fr);
//     grid-gap: 10px;
//     font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
//     line-height: 1.25;
//     font-size: 14px;
//     font-weight: 200;
//     grid-template-columns: 50% 50%;
// }
.review-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* First column auto-sized, second column takes the remaining space */
    gap: 10px;
    /* Gap between the columns */
}
// .review-index-item{
//     width: 100%;
// }
.review-firstname {
    grid-column: 1;
    /* Place the review-firstname in the first column */
}

.review-details li {
    list-style: none;
    /* Remove the default bullet points */
}

.column-1 {
    display: block;
    /* Ensures the review-firstname takes up the full width of the first column */
}

.column-2 {
    display: block;
    overflow:visible;
    flex-wrap: nowrap;
    // text-align: right;
    /* Ensures the review-lastname takes up the full width of the second column */
}

.review-form{
    margin-top:5% ;
    margin-left: 35%;
    margin-right: 25%;
    margin-bottom: 10%;
    font-size: 20px;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}

.review-form h1{
    margin-left: -20%;
}

.review-update-form{
    margin-top:5% ;
    margin-left: 35%;
    margin-right: 25%;
    margin-bottom: 10%;
    font-size: 20px;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.review-update-form h1{
    margin-left: -5%;
}


.rev-body{
    margin-left: -30%;
    margin-right: 70%;
    // background-color:aqua;
}

.submit-review-btn{
    margin-left: 20%;
    margin-right: 49%;
    height: 90px;
    width: 150px;
}

.submit-review-btn:hover{
   
    color: antiquewhite;
    background-color: #0f4e63;
    border-color: #0f4e63;
    cursor: pointer;
}