.search-bar-input{
    margin-left: 30%;
    margin-right: 49%;
    margin-top: 5%;
    // height: 20%; 
    font-size: 40px;
    width: 40%;
    border-radius: 4px; 
    border-style: none;

    // background-color: aqua;
}


.restaurant-search-index{
    background-color: white;
    margin-left: 30%;
    margin-right: 49%;
    z-index: 20; 
    // color: black; 
    width: 40%; 
}

.restaurant-search-name:hover{
    color: blue;
    background-color: aqua;
}