.search-bar-input{
    margin-left: 30%;
    margin-right: 49%;
    margin-top: 5%;
    // height: 20%; 
    font-size: 40px;
    width: 40%;
    border-radius: 4px; 
    border-style: none;

    // background-color: aqua;
}


