.current-reservations{
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color:#0f4e63; 
    margin-left: 25%;
    text-decoration: underline;
    
}


.reservation-boxes{
    box-shadow: 0 2px 10px;
    margin: 1rem; 
    border-radius: 4px;
    margin-left: 50%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3rem;
    padding-bottom: 5%;
    // padding: 3rem;
    width: 40%;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

// .reservation-index-container{

// }
.delete-res {
    background-color: #247f9e;
    color: bisque;
    font-weight: 700;
    height: 40px;
    width: 90px;
    // margin-bottom: ;
    margin-left: 50%;
    border-radius: 4px;

    // font-weight: bold;
    cursor: pointer;
}
.delete-res:hover {
   
    cursor: pointer;
}


.modify-res {
    background-color: #247f9e;
    color: bisque;
    font-weight: 700;
    height: 40px;
    width: 90px;
    // margin-bottom: ;
    margin-left: 50%;
    border-radius: 4px;

    // font-weight: bold;
    cursor: pointer;
}

.reservation-details{
    // margin-right: -72.148;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 16rem;
    margin-top: 5px;
    margin-bottom: 90px;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 140px;
    z-index: 1000;
}

.reservation-index-img{
    box-shadow: 0 2px 10px;
    width:50%; 
    height: 70%; 
    margin-left: 1px;
    margin-top: 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-radius: 2px;
    object-fit: cover;
    z-index: 1;
}
.trash-can-btn {
    size: 20px;
    color: bisque;
}


.reservation-name{
    margin-left: 50%;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;

}

.reservation-date{
    margin-left: 50%;
}

.reservation-phone{
    margin-left: 50%;
}

.reservation-party{
    margin-left: 50%;
}

.review-res {
    background-color: #247f9e;
    color: bisque;
    font-weight: 700;
    height: 40px;
    width: 90px;
    // margin-bottom: ;
    margin-left: 50%;
    border-radius: 4px;

    // font-weight: bold;
    cursor: pointer;
}

.review-btn {
    size: 20px;
    color: bisque;
}

// .delete-res{
//     margin-left: 50%;
// }

